#backgroundAereos{
    background-image: url('/fondo-aereos.png');
    background-repeat: no-repeat;
    background-size: cover;
}

option, select, input{
    background-color: #F7C8AA;
    padding: 3px;
    border-radius: 10px;
;
}